.dcontainer{
  width: 100%;
  position: relative;
  overflow: hidden;
}



.table-div{
  background: #fff;
  min-height: 100vh;
  margin-bottom: 0;
  position: relative;
}

.side-nav {
  margin-top: 20px;
  background: #000;
}

.side-nav nav ul, .layout-div ul {
  list-style: none;
}

.layout-div ul input:focus{
  border-color: #f8851a;
}

.layout-div ul input[type="text"] {
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 35px;
  outline: none;
}

.side-nav nav ul li {
  margin-bottom: 10px;
}

.side-nav nav ul li:hover {
  background: #5a6164;
}

.layout-div ul li a {
  text-decoration: none;
  color: #0672b1;
}

.side-nav nav ul li a {
  text-decoration: none;
  color: #940e04;
  font-size: 20px;
  padding-left: 15px;;
}

.side-nav nav ul li a span i{
  width: 20px;
}

.side-nav nav ul li a span:nth-child(2) {
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
}
.side-nav nav ul li{
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
 
}

.show {
  display: block;
  transition: all 1s;
}

#inbox-set.hide, 
#sent-set.hide, 
#draft-set.hide,
#contact-set.hide,
#compose-new.hide,
#mailView.hide,
#replyforward.hide {
  display: none;
}

.visited {
  background: #f59982;
  border-radius: 15px;
}

.layout-div {
  display: block;
  padding: 2px;
  margin: 0;
}
.layout-div div {
  padding: 10px;
  border: 1px solid #e0dada;
  border-left: none;
  border-right: none;
  
}

.layout-div section {
  padding: 10px;
  border: none;
  margin: 20px 10px;
  
}

section.messageView div span {
  padding: 0;
}

 section.messageView div {
  padding: 10px;
  border: none;  
}

section.messageView div p {
  line-height: 1.5rem;
}

section.messageView div:hover {
  box-shadow: none;
  cursor: default;
}


.compose-layout {
  position: absolute;
  background: #fff;
  top: 70%;
  left: 45%;
  z-index: 100;
  width: 100%;
  max-width: 250px;
  pointer-events: auto;
  opacity: 1;
  border: 1px solid #c2bfbf;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.rf-layout {
  position: absolute;
  background: #fff;
  top: 70%;
  left: 45%;
  z-index: 99;
  width: 100%;
  max-width: 250px;
  pointer-events: auto;
  opacity: 1;
  border: 1px solid #c2bfbf;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.compose-div div header {
  background: #c2bfbf;
  padding: 10px;
  margin: 0;
  color: #070707;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.compose-div div header h3 {
  margin: 0;
}


/* .compose-div {
  box-sizing: border-box;
} */

.compose-div div input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #c2bfbf;
}

#replyforward .compose-div div input {
  border: none;
  border-bottom: 1px solid #c2bfbf;
}

.compose-div div textarea {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

.compose-div div div {
  margin-bottom: 10px;
}

.compose-div div div a {
  text-decoration: none;
  padding: 10px;
}

.compose-div div div a span i{
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
  color: #000;
}

.compose-div div div a button {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  width: 100px;
  background: #33a3e4;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(54, 52, 52, 0.7);
}

section.messageView div button {
  padding: 10px 7px;
  margin: 10px;
  font-size: 18px;
  color: #fff;
  width: 100px;
  background: #30373b;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(54, 52, 52, 0.7);
}

.compose-div div div a:nth-child(1) {
  float: left;
}
.compose-div div div a:nth-child(2) {
  float: right;
}



.layout-div div:hover, li.collection-item:hover {
  box-shadow: 0 0 4px rgba(54, 52, 52, 0.7);
  cursor: pointer;
}


.layout-div div span {
  display: block;
  line-height: 1.5rem;
}

.layout-div ul li {
  padding: 10px;
  border: 1px solid #e0dada;
  border-left: none;
  border-right: none;
  
}

li.collection-item {
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
}


@media screen and (min-width: 600px) {
  .table-div {
    margin-left: 150px;
    margin-top: 20px;
    
  }

  .compose-layout, .rf-layout {
    top: 50%;
    left: 60%;
    width: 100%;
    max-width: 400px;
  } 
  .side-nav {
    position: absolute;
    width: 150px;
    height: 100vh;
  }
}

@media screen and (min-width: 800px) {
  
  
}


@media screen and (min-width: 1000px) {
  .side-nav {
    width: 200px;
    
  }
  .table-div {
    width: calc(100% - 210px);
    margin-left: 200px;
  }
  
  .compose-layout,.rf-layout {
    top: 45%;
    left: 65%;
    width: 100%;
    max-width: 600px;
  }
   
}


